@page "/createrecipe"
@using CaloriesCatcher.UI.Components;
@using CaloriesCatcher.UI.Components.Dialogs;
@using CaloriesCatcher.UI.Model;
@using CaloriesCatcher.UI.Service.IService;
@using Newtonsoft.Json;
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <MudText Color="Color.Primary" Typo="Typo.h4">@RecentRecipeId.RecipeName</MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mx-auto rounded-lg" Elevation=" 3" Width="50%">

            <MudTextField Class="m-4" T="string" Variant="Variant.Outlined" Label="Name" @bind-Value="newIngredientName" />
            <MudTextField Class="m-4" T="double" Variant="Variant.Outlined" Label="Quantity"@bind-Value="newIngredientQuantity" />
            <MudButton Class="m-4" OnClick="AddIngredient">Add Ingredient</MudButton>
           
        </MudPaper>
       </MudItem>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mx-auto py-8 rounded-lg" Elevation=" 3" Width="50%">
                <MudText Color="Color.Primary" Typo="Typo.h5" GutterBottom="true">Ingredients List</MudText>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mx-auto py-8 rounded-lg" Elevation=" 3" Width="50%">
                    <MudList>
                        @foreach (var RecipeIngredientDto in recipeIngredients)
                        {
                            <li><MudText Typo="Typo.h6">@RecipeIngredientDto.Quantity cup(s) @RecipeIngredientDto.IngredientName</MudText><MudButton @onclick="() => DeleteIngredient(RecipeIngredientDto.RecipeIngredientsId)" Color="Color.Error">Delete</MudButton></li>
                        }
                    </MudList>
                </MudPaper>

      
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mx-auto rounded-lg" Elevation=" 3" Width="50%">
            <MudButton Class="m-4 " OnClick="AddRecipeToDb" Variant="Variant.Filled" Color="Color.Primary">Save Recipe</MudButton>
      
            <MudButton Class="m-4 mx-16" Variant="Variant.Filled">Save Recipe & Add to Day</MudButton>
      
            <MudButton Class="m-4" Variant="Variant.Filled" Color="Color.Secondary">Cancel</MudButton>
        </MudPaper>
    </MudItem>

</MudGrid>

<CaloriesCatcher.UI.Components.CalorieFooter />






@code
{
    //injections
    [Inject] IDialogService dialogService { get; set; } = default!;
    [Inject] IRecipe _recipeService { get; set; } = default!;
    [Inject] IRecipeIngredients _ingredientservice { get; set; } = default!;
    [Inject] private NavigationManager navigationManager { get; set; } = default!;
    [CascadingParameter] Task<AuthenticationState> authenticationState { get; set; } = default!;

    //data lists
    List<RecipeIngredientDto> recipeIngredients = new List<RecipeIngredientDto>();
    List<Calories.API.Models.Dto.RecipeDto> listOfRecipes = new List<Calories.API.Models.Dto.RecipeDto>();

    //single variables
    Calories.API.Models.Dto.RecipeDto RecentRecipeId = new Calories.API.Models.Dto.RecipeDto();
    private string newIngredientName;
    private double newIngredientQuantity;
    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GetUserIdAndRecipes();

    }

    async private void GetUserIdAndRecipes()
    {
        var authState = await authenticationState;
        var response = await _recipeService.GetRecipesByUserAsync(authState.User.FindFirst("Sub")?.Value);
        UserId = authState.User.FindFirst("sub")?.Value;
        if (response != null && response.IsSuccess)
        {
            listOfRecipes = JsonConvert.DeserializeObject<List<Calories.API.Models.Dto.RecipeDto>>(Convert.ToString(response.Result));
            RecentRecipeId = listOfRecipes.LastOrDefault();
            StateHasChanged();
        }
        else
        {
            //snackBar.Add("Something went wrong", Severity.Error);
        }
    }

    private void AddIngredient()
    {
        if (!string.IsNullOrWhiteSpace(newIngredientName))
        {
            recipeIngredients.Add(new RecipeIngredientDto { IngredientName = newIngredientName, Quantity = newIngredientQuantity });
            newIngredientName = string.Empty;
            newIngredientQuantity = 0;

        }
    }

    private void DeleteIngredient(int id)
    {
        try
        {
            recipeIngredients.RemoveAt(id);
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }

    }

    private void AddRecipeToDb()
    {
        //needs: Recipe Id, Recipe Name, and Foreach recipe/food it needs and Id, Name and Quantity, passed in Recipe Id, Passed in UserId, Generated Recipe/food Id
        foreach (RecipeIngredientDto recipeIngredientDto in recipeIngredients)
        {
            recipeIngredientDto.RecipeId = RecentRecipeId.RecipeId;
            _ingredientservice.CreateRecipeIngredientAsync(recipeIngredientDto);
        }
        navigationManager.NavigateTo("/discover/recipes", true);
    }

}