@page "/login"
@using CaloriesCatcher.UI.Service
@using CaloriesCatcher.UI.Service.IService
@using KitchenComfort.Web.Models;
@using Newtonsoft.Json;

<MudContainer Class="pt-lg-7" Style="height: 1900px; margin: auto;">
    <MudPaper Elevation="3" Class="mud-theme-background" Style="padding: 2.5rem; height: 30%; border-radius: 15px; display: flex;">
        <div Style="flex: 1; padding-right: 2rem; margin-top: 5%;">
            <MudText Typo="Typo.h3" Color="Color.Primary" Class="mb-lg-4 fw-bold">Welcome back.</MudText>
            <MudText Typo="Typo.body1" Color="Color.Default" Class="mb-lg-12">Don't have an account? <MudLink Href="/Register" Color="Color.Secondary">Sign up</MudLink></MudText>

            <EditForm Model="loginRequestDto" OnValidSubmit="OnLogin" Class="mt-lg-7 mb-lg-6">
                <MudTextField @bind-Value="loginRequestDto.UserName" Label="Email" Variant="Variant.Outlined" InputType="InputType.Text" FullWidth Class="mb-lg-5" Rounded="true"/>
                <MudTextField @bind-Value="loginRequestDto.Password" Label="Password" Variant="Variant.Outlined" InputType="InputType.Password" FullWidth Class="mb-4" Rounded="true"/>
                <MudText Typo="Typo.body2" Color="Color.Default" Class="mb-lg-12"><MudLink Href="/forgot-password" Color="Color.Secondary">Forgot Password?</MudLink></MudText>
                <div class="mt-lg-9">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Login" Color="Color.Primary" Size="Size.Large" Class="mr-4">Sign in</MudButton>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" StartIcon="@Icons.Custom.Brands.Google" Color="Color.Primary" Size="Size.Large" @onclick="OnGoogleLogin">Login with Google</MudButton>
                </div>
            </EditForm>
            
        </div>
        <div Style="flex: 1; display: flex; justify-content: center; align-items: center;">
            <MudImage Src="images/LoginSideImage.jpg" Width="700" Alt="Graphic Details" Style="border-radius: 15px;"/>
        </div>
    </MudPaper>
</MudContainer>

@code {
    [Inject]
    private IAuthService authService { get; set; } = default!;
    [Inject]
    private ISnackbar snackBar { get; set; } = default!;
    [Inject]
    private ITokenProvider tokenProvider { get; set; } = default!;
    [Inject]
    private NavigationManager navigationManager { get; set; } = default!;
    [Inject]
    AuthenticationStateProvider authenticationStateProvider { get; set; } = default!;
    
    LoginRequestDto loginRequestDto = new LoginRequestDto();
    private string token = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var url = navigationManager.ToBaseRelativePath(navigationManager.Uri);
        var tokenParam = "token=";
        var tokenIndex = url.IndexOf(tokenParam);
        if (tokenIndex >= 0)
        {
            var tokenValueStartIndex = tokenIndex + tokenParam.Length;
            token = url.Substring(tokenValueStartIndex);
            var ampersandIndex = token.IndexOf('&');
            if (ampersandIndex >= 0)
            {
                token = token.Substring(0, ampersandIndex);
            }
            var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
            customAuthenticationStateProvider.HandleGoogleLogin(token);
            navigationManager.NavigateTo("/", true);
        }
        StateHasChanged(); // Notify Blazor that the state has changed and a re-render is necessary
    }

    private async Task OnLogin(EditContext context)
    {
        var response = await authService.LoginAsync(loginRequestDto);
        if (response != null && response.IsSuccess)
        {
            LoginResponseDto loginResponseDto = JsonConvert.DeserializeObject<LoginResponseDto>(Convert.ToString(response.Result));
            loginResponseDto.User.Name = "User";
            loginResponseDto.User.PhoneNumber = "920213123";
            var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
            await customAuthenticationStateProvider.UpdateAuthenticationState(loginResponseDto);
            navigationManager.NavigateTo("/", true);
            StateHasChanged();
        }
        else
        {
            snackBar.Add(response.Message, Severity.Error);
        }
    }

    private void OnGoogleLogin()
    {
        authService.StartGoogleLogin();
    }
}
