@page "/about" 

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <MudText Typo="Typo.h3">About Us</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <div style="float:left; width:60%">
                <MudList>
                    <MudListItem><MudText Typo="Typo.h4">Calorie Catcher - Fueling Healthy Lives</MudText></MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h5">
                            At Calorie Catcher, we're on a mission to empower individuals to take control of their
                            health and wellness through the simple act of tracking calories. We believe that every
                            choice you make, from the ingredients you choose to the meals you savor, plays a vital
                            role in your journey towards a healthier and happier life.
                        </MudText>
                    </MudListItem>
                </MudList>
            </div>
            <MudImage Class="ml-16 my-6 rounded-lg" Src="images/logo.png" Alt="logo image" Width="300" Height="300"></MudImage>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <MudImage Class="mr-16 my-6 rounded-lg" Src="images/commit.jpg" Alt="commitment image" Width="300" Height="300"></MudImage>
            <div style="float:right; width:60%">
            <MudList>
                <MudListItem><MudText Typo="Typo.h4">Our Commitment to You</MudText></MudListItem>
                <MudListItem>
                    <MudText Typo="Typo.h5">
                        Our commitment to our users is unwavering. We understand that a well-balanced diet is the cornerstone
                        of a healthier life. With Calorie Catcher, we provide the tools and support you need to make informed
                        decisions about the food you consume. Whether you're striving for weight management, fitness goals, or
                        simply seeking to adopt healthier eating habits, we've got you covered.
                    </MudText>
                </MudListItem>
            </MudList>
            </div>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <div style="float:left; width:60%">
                <MudList>
                    <MudListItem><MudText Typo="Typo.h4">Tracking Made Easy</MudText></MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h5">
                            We've designed Calorie Catcher to be your trusted companion on your wellness journey. With our
                            user-friendly platform, you can effortlessly log your daily caloric intake, gain insights
                            into your nutritional choices, and set achievable goals. We offer a comprehensive database
                            of foods and recipes, making it easy to find and record what you eat. Our intuitive interface
                            is accessible from your computer, smartphone, or tablet, ensuring that you can keep track of
                            your calories wherever you go.
                        </MudText>
                    </MudListItem>
                </MudList>
            </div>
            <MudImage Class="ml-16 my-6 rounded-lg" Src="images/trackcal.png" Alt="calorie tracking image" Width="300" Height="300"></MudImage>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <MudImage Class="mr-16 my-6 rounded-lg" Src="images/community.jpg" Alt="community image" Width="300" Height="300"></MudImage>
            <div style="float:right; width:60%">
                <MudList>
                    <MudListItem><MudText Typo="Typo.h4">Community Support</MudText></MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h5">
                            Your journey towards a healthier you doesn't have to be a solo endeavor. Calorie Catcher
                            offers a vibrant and supportive community of like-minded individuals who share their
                            experiences, tips, and encouragement. Connect with others who are on the same path,
                            exchange recipes, and celebrate each other's victories, no matter how big or small.
                        </MudText>
                    </MudListItem>
                </MudList>
            </div>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mx-auto mt-6" Elevation=" 3" Width="75%">
            <div style="float:left; width:60%">
                <MudList>
                    <MudListItem><MudText Typo="Typo.h4">Data-Driven Progress</MudText></MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h5">
                            We firmly believe that knowledge is power. With our detailed analytics, you can gain
                            valuable insights into your eating habits and monitor your progress over time. Whether
                            you're focused on weight loss, muscle gain, or simply maintaining a balanced diet,
                            Calorie Catcher equips you with the data you need to succeed.
                        </MudText>
                    </MudListItem>
                </MudList>
            </div>
            <MudImage Class="ml-16 my-6 rounded-lg" Src="images/data.jpg" Alt="data image" Width="300" Height="300"></MudImage>
        </MudPaper>
       
    </MudItem>
</MudGrid>
<CaloriesCatcher.UI.Components.CalorieFooter />