@page "/createrecipe"
@using CaloriesCatcher.UI.Components;
@using CaloriesCatcher.UI.Model;
@using CaloriesCatcher.UI.Service.IService;
@using Newtonsoft.Json;
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<MudText Typo="Typo.h2" Align="Align.Center">Create a recipe</MudText>
<div style="float:left; width:40%; margin: 20px;">
    
       
    
        <MudPaper Class="pa-4 mt-2 d-flex justify-center">
            <div style=" height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding:10px;">
            <MudButton  Variant="Variant.Filled" Color="Color.Primary">Add Item</MudButton><br  />
            <MudButton Variant="Variant.Filled" Class="mx-4">Edit Item</MudButton><br />
            <MudButton Variant="Variant.Filled" Color="Color.Secondary">Delete Item</MudButton><br />
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Add a Step</MudButton><br />
            <MudButton Variant="Variant.Filled" Class="mx-4">Edit a Step</MudButton><br />
            <MudButton Variant="Variant.Filled" Color="Color.Secondary">Delete a Step</MudButton>
            </div>
        </MudPaper>
    
</div>
<div style="float:right; width:40%;margin-top:3%; margin-right:3%; margin-bottom:5%;">
    <MudItem xs="12" md="6">
        <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Ingredients List</MudText>
        <MudPaper Width="100%">
            <MudList>
                <MudListItem Text="Apple" />
                <MudListItem Text="Banana" />
                <MudListItem Text="Water" />
                <MudListItem Text="Chicken" />
                <MudListItem Text="Garlic" />
                <MudListItem Text="Orange" />
             
            </MudList>
        </MudPaper>
    </MudItem>
</div>
<div style="width:100%; margin-top:30%">
<MudTextField T="string" Label="Steps:" Variant="Variant.Outlined" Text="@sampleText" Lines="3" />
</div>
@code
{
    string sampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
}
<div style="margin-top:10%; width:100%">
<div style=" height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding:10px;">
<MudButton Variant="Variant.Filled" Color="Color.Primary">Save Recipe</MudButton>
<br />
<MudButton Variant="Variant.Filled" Class="mx-4">Save Recipe & Add to Day</MudButton>
<br />
<MudButton Variant="Variant.Filled" Color="Color.Secondary">Cancel</MudButton>
<br />
    </div>
</div>