﻿@page "/dashboard"
@using static CaloriesCatcher.UI.Pages.Dashboard;

<div style="float:left; width:40%; margin-top:3%; margin-right:3%;">
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="35%" Height="35%" />
    </MudPaper>
    <MudPaper Class="pa-4 mt-2 d-flex justify-center">
        <MudButton OnClick="AddDataSize" Variant="Variant.Filled" Color="Color.Primary">Add Food</MudButton>
        <MudButton @onclick="EditData" Variant="Variant.Filled" Class="mx-4">Edit Food</MudButton>
        <MudButton OnClick="RemoveDataSize" Variant="Variant.Filled" Color="Color.Secondary">Delete Food</MudButton>
    </MudPaper>
    @code {
        private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.
        int dataSize = 4;
        double[] data = { 77, 25, 20, 5 };
        string[] labels = { "Breakfast", "Lunch", "Dinner", "snacks"};


        // change to edit 
        void EditData()
        {
           /* var new_data = new double[dataSize];
            for (int i = 0; i < new_data.Length; i++)
                new_data[i] = random.NextDouble() * 100;
            data = new_data;
            StateHasChanged(); */
        }

        void AddDataSize()
        {
            if (dataSize < 20)
            {
                dataSize = dataSize + 1;
           
            }
        }
        void RemoveDataSize()
        {
            if (dataSize > 0)
            {
                dataSize = dataSize - 1;
          
            }
        }
    }
        <div style="text-align:center; margin-top:2%;">
            <MudButton Variant="Variant.Text">Track a food</MudButton> 
            <MudButton Variant="Variant.Text">Track a recipe</MudButton>
        </div>
</div>
<div style="float:right; width:40%;margin-top:3%; margin-right:3%; margin-bottom:5%;">
    <MudItem xs="12" md="6">
        <MudText Typo="Typo.h6" GutterBottom="true">Today's Progress</MudText>
        <MudPaper Width="100%">
            <MudList>
                <MudListItem Text="Food #1" />
                <MudListItem Text="Food #2" />
                <MudListItem Text="Food #3" />
                <MudListItem Text="Food #4" />
                <MudListItem Text="Food #5" />
                <MudListItem Text="Food #6" />
            </MudList>
        </MudPaper>
    </MudItem>

</div>
<FoodPage></FoodPage>
<RecipePage></RecipePage>