@page "/fooddetail" 

<MudGrid>
  @*   <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full" >@* 
            <div style="position: absolute; top: 20%; left: 15%; transform: translateY(-30%); text-align: center; z-index: 2;"> 
                <MudText Color="Color.Default" Typo="Typo.h1">Chicken</MudText>
            </div> 
        </MudPaper>
    </MudItem> *@
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <MudText Color="Color.Primary" Typo="Typo.h3">Nutrition Breakdown</MudText>
        </MudPaper>
    </MudItem>


<!-- Features of the App -->
    <MudItem xs="12" >
        <MudPaper Class="d-flex align-center justify-center mx-auto" Elevation=" 3" Width="35%">
            <MudList>
                <MudListItem><MudText Color="Color.Primary" Typo="Typo.h4">Nutrition Facts</MudText></MudListItem>
                <MudListItem><MudText>Serving Size     (100 Gram)</MudText></MudListItem>
                <MudListItem><MudText>Amount Per Serving</MudText></MudListItem>
                <MudListItem><MudText Color="Color.Primary" Typo="Typo.h4">Calories     52</MudText></MudListItem>
                <MudListItem><MudText>Total Fat 0.17g</MudText></MudListItem>
                <MudListItem><MudText>Saturated Fat 0.03 g</MudText></MudListItem>
                <MudListItem><MudText>Trans Fat 0.00g</MudText></MudListItem>
                <MudListItem><MudText>Cholesterol 0.00mg</MudText></MudListItem>
                <MudListItem><MudText>Sodium 1.00mg</MudText></MudListItem>
                <MudListItem><MudText>Total Carbohydrate 13.80g</MudText></MudListItem>
                <MudListItem><MudText>Dietary Fiber 2.40mg</MudText></MudListItem>
                <MudListItem><MudText>Total Sugars 10.40g</MudText></MudListItem>
                <MudListItem><MudText>Includes 0g Added Sugars</MudText></MudListItem>
                <MudListItem><MudText>Protein 0.26g</MudText></MudListItem>
                <MudListItem><MudText>Vitamin D 0.00g</MudText></MudListItem>
                <MudListItem><MudText>Calcium 6.00mg</MudText></MudListItem>
                <MudListItem><MudText>Iron 0.12mg</MudText></MudListItem>
                <MudListItem><MudText>Potassium 107.00mg</MudText></MudListItem>
                <MudListItem><MudText>Vitamin C 4.60mg</MudText></MudListItem>
                <MudButton Color="Color.Primary" Variant="Variant.Filled">Log Food</MudButton>
            </MudList>
        </MudPaper>
        @*     <MudPaper Class="d-flex align-center justify-center mx-auto" Elevation=" 3" Width="35%">
                <MudButton Color="Color.Primary" Variant="Variant.Filled">Log Food</MudButton>
            </MudPaper> *@
    
    </MudItem>
  
    
</MudGrid>



<!-- Footer -->
<CalorieFooter/>