@page "/fooddetail" 

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full" Style="height: 50vh; background: linear-gradient(135deg, #56CCF2, #2F80ED);">
            <div style="position: absolute; top: 20%; left: 15%; transform: translateY(-30%); text-align: center; z-index: 2;">
                <MudText Color="Color.Default" Typo="Typo.h1">Chicken</MudText>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>


<!-- Features of the App -->
<MudGrid Class="mt-5 m-lg-5" >
    <MudItem xs="12" sm="12">
        <MudPaper Class="d-flex flex-column align-left justify-center mud-width-full py-8" >
            <MudText  Typo="Typo.h4">Nutrition Facts</MudText>
            <MudText Typo="Typo.h5">Serving Size     (100 Gram)</MudText>
            <MudText Typo="Typo.h5">Amount Per Serving</MudText>
            <MudText Typo="Typo.h4">Calories     52</MudText>
            <MudText Typo="Typo.h5">Total Fat 0.17g</MudText>
            <MudText Typo="Typo.h5">Saturated Fat 0.03 g</MudText>
            <MudText Typo="Typo.h5">Trans Fat 0.00g</MudText>
            <MudText Typo="Typo.h5">Cholesterol 0.00mg</MudText>
            <MudText Typo="Typo.h5">Sodium 1.00mg</MudText>
            <MudText Typo="Typo.h5">Total Carbohydrate 13.80g</MudText>
            <MudText Typo="Typo.h5">Dietary Fiber 2.40mg</MudText>
            <MudText Typo="Typo.h5">Total Sugars 10.40g</MudText>
            <MudText Typo="Typo.h5">Includes 0g Added Sugars</MudText>
            <MudText Typo="Typo.h5">Protein 0.26g</MudText>
            <MudText Typo="Typo.h5">Vitamin D 0.00g</MudText>
            <MudText Typo="Typo.h5">Calcium 6.00mg</MudText>
            <MudText Typo="Typo.h5">Iron 0.12mg</MudText>
            <MudText Typo="Typo.h5">Potassium 107.00mg</MudText>
            <MudText Typo="Typo.h5">Vitamin C 4.60mg</MudText>
            <MudButton Color="Color.Primary" Variant="Variant.Text">Log Food</MudButton>
        </MudPaper>
    </MudItem>
  
    
</MudGrid>



<!-- Footer -->
<CalorieFooter/>