@page "/footer"

<footer id="footer">
    <div class="container" style="background-color:rgba(206,210,207,0.5); color:rgb(10,71,26)">
        <div class="social-links">
            <a href="#" class="twitter">Twitter<i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook">Facebook<i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram">Instagram<i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus">Google<i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin">Linked In<i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Calorie Catcher</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>

@code {

}
