@page "/landing" 

<div style="text-align:center; float:left; width:30%; margin-top:20%; margin-bottom:10%; margin-right:3%">
    <MudText Typo="Typo.h3">Catching Your Calories</MudText>
    <MudText Typo="Typo.h5">Detailed Description of Calorie Catcher and why its better than the other apps</MudText>
</div>

<div style="float:right; width:50%; margin:auto;margin-top:20%; margin-bottom:10%;">
    <MudImage Src="images/img.jpg" Alt="img" Elevation="25" Class="rounded-lg"/>
   
</div>
<MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Sign Up Today!</MudButton>

@code {

}
