@page "/landing" 
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<body style="background-image:url(images/calories.png)">

    <div style="text-align:center; float:left; width:30%; margin-top:20%; margin-bottom:10%; margin-right:3%">
        <MudImage Src="images/logo.png" Alt="Duck Logo" Elevation="25" Class="rounded-lg" Width="100" Height="100" />
        <div style="background-color:rgba(206,210,207,0.5); color:rgb(10,71,26)">
       
        <MudText Typo="Typo.h3">Catching Your Calories</MudText>
        <MudText Typo="Typo.h5">Detailed Description of Calorie Catcher and why its better than the other apps</MudText>
        </div>
    </div>

    @* <div style="float:right; width:50%; margin:auto;margin-top:20%; margin-bottom:10%;">
       <MudImage Src="images/calories.jpg" Alt="calories" Elevation="25" Class="rounded-lg"/>
   
    </div> *@

    </body>
    <div style="margin-top:20%">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Sign Up Today!</MudButton>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
            <div class="count-box">
                
            </div>
        </div>
    </div>
</div>

<Footer></Footer>
        
@code {

}
