@page "/login"
@using CaloriesCatcher.UI.Service
@using CaloriesCatcher.UI.Service.IService
@using KitchenComfort.Web.Models;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt;
@using System.Web

<div class="mud-container">
    <MudPaper Elevation="1" Square="false" Class="pa-4 mt-5" Style="max-width: 450px; margin: auto;">
        <div class="text-center">
            <MudText Typo="Typo.h3" Color="Color.Primary">Login</MudText>
        </div>
        <EditForm Model="loginRequestDto" OnValidSubmit="OnLogin">
            <MudTextField @bind-Value="loginRequestDto.UserName" Label="Email" Variant="Variant.Outlined" InputType="InputType.Email" Class="mt-4" FullWidth />
            <MudTextField @bind-Value="loginRequestDto.Password" Label="Password" Variant="Variant.Outlined" Class="mt-4" InputType="InputType.Password" FullWidth />
            <div class="text-center mt-4">
                <MudButton ButtonType="ButtonType.Submit" Class="mt-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Send" Color="Color.Info" Size="Size.Large">Save</MudButton>
                <MudButton ButtonType="ButtonType.Button" Class="mt-2 ml-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LockOpen" Color="Color.Secondary" Size="Size.Large" @onclick="OnGoogleLogin">Login with Google</MudButton>
            </div>
        </EditForm>
    </MudPaper>
</div>

@code {
    [Inject] private IAuthService authService { get; set; } = default!;
    [Inject] private ISnackbar snackBar { get; set; } = default!;
    [Inject] private ITokenProvider tokenProvider { get; set; } = default!;
    [Inject] private NavigationManager navigationManager { get; set; } = default!;
    [Inject] AuthenticationStateProvider authenticationStateProvider { get; set; } = default!;
    LoginRequestDto loginRequestDto = new LoginRequestDto();

    private string token;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
            var url = navigationManager.ToBaseRelativePath(navigationManager.Uri);
            var tokenParam = "token=";
            var tokenIndex = url.IndexOf(tokenParam);
            if (tokenIndex >= 0)
            {
                var tokenValueStartIndex = tokenIndex + tokenParam.Length;
                token = url.Substring(tokenValueStartIndex);
                var ampersandIndex = token.IndexOf('&');
                if (ampersandIndex >= 0)
                {
                    token = token.Substring(0, ampersandIndex);
                }
                var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
                customAuthenticationStateProvider.HandleGoogleLogin(token);
                navigationManager.NavigateTo("/", true);
            }
            StateHasChanged();  // Notify Blazor that the state has changed and a re-render is necessary
    }


    private async Task OnLogin(EditContext context)
    {
        var response = await authService.LoginAsync(loginRequestDto);
        if (response != null && response.IsSuccess)
        {
            LoginResponseDto loginResponseDto = JsonConvert.DeserializeObject<LoginResponseDto>(Convert.ToString(response.Result));
            loginResponseDto.User.Name = "User";
            loginResponseDto.User.PhoneNumber = "920213123";
            var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
            await customAuthenticationStateProvider.UpdateAuthenticationState(loginResponseDto);
            navigationManager.NavigateTo("/", true);
            StateHasChanged();
        }
        else
        {
            snackBar.Add("Something went wrong", Severity.Error);
        }
    }

    private void OnGoogleLogin()
    {
        authService.StartGoogleLogin();
    }
}
<script>
    window.reloadPage = function () {
        location.reload();
    }
</script>
