@page "/recipedetail" 

<MudGrid>
   @*  <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full" Style="height: 50vh; background: linear-gradient(135deg, #56CCF2, #2F80ED);">
            <div style="position: absolute; top: 20%; left: 15%; transform: translateY(-30%); text-align: center; z-index: 2;">
                <MudText Color="Color.Default" Typo="Typo.h1">Chicken Noodle Soup</MudText>
            </div>
        </MudPaper>
    </MudItem> *@
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <MudText Color="Color.Primary" Typo="Typo.h3">Chicken Noodle Soup</MudText>
        </MudPaper>
    </MudItem>


<!-- Features of the App -->

    <MudItem xs="6" sm="6">
        <MudPaper Class="d-flex align-center justify-center ml-8" Elevation=" 3" >
           <MudList>
                <MudListItem><MudText Color="Color.Primary" Typo="Typo.h4">Ingredients</MudText></MudListItem>
            <MudListItem><MudText >Chicken</MudText></MudListItem>
            <MudListItem><MudText >Chicken broth</MudText></MudListItem>
            <MudListItem><MudText >Celery</MudText></MudListItem>
            <MudListItem><MudText >Carrots</MudText></MudListItem>
            <MudListItem><MudText >Spices</MudText></MudListItem>
            <MudListItem><MudText >Noodles</MudText></MudListItem>
           </MudList>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="6">
        <MudPaper Class="d-flex align-center justify-center mr-8" Elevation=" 3" >
            <MudList>
                <MudListItem><MudText Color="Color.Primary" Typo="Typo.h4">Nutrition Facts</MudText></MudListItem>
                <MudListItem><MudText >Serving Size     (100 Gram)</MudText></MudListItem>
                <MudListItem><MudText >Amount Per Serving</MudText></MudListItem>
                <MudListItem><MudText >Total Fat 0.17g</MudText></MudListItem>
                <MudListItem><MudText >Saturated Fat 0.03 g</MudText></MudListItem>
                <MudListItem><MudText >Trans Fat 0.00g</MudText></MudListItem>
                <MudListItem><MudText >Cholesterol 0.00mg</MudText></MudListItem>
                <MudListItem><MudText >Sodium 1.00mg</MudText></MudListItem>
                <MudListItem><MudText >Total Carbohydrate 13.80g</MudText></MudListItem>
                <MudListItem><MudText >Dietary Fiber 2.40mg</MudText></MudListItem>
                <MudListItem><MudText >Total Sugars 10.40g</MudText></MudListItem>
                <MudListItem><MudText >Includes 0g Added Sugars</MudText></MudListItem>
                <MudListItem><MudText >Protein 0.26g</MudText></MudListItem>
                <MudListItem><MudText >Vitamin D 0.00g</MudText></MudListItem>
                <MudListItem><MudText >Calcium 6.00mg</MudText></MudListItem>
                <MudListItem><MudText >Iron 0.12mg</MudText></MudListItem>
                <MudListItem><MudText >Potassium 107.00mg</MudText></MudListItem>
                <MudListItem><MudText >Vitamin C 4.60mg</MudText></MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>


    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center py-8 mx-5" Elevation=" 3" Width="75%">
            <MudList>
                <MudListItem><MudText Color="Color.Primary" Typo="Typo.h4">Directions</MudText></MudListItem>
                <MudListItem><MudText>Step 1:Chop all the vegetables</MudText></MudListItem>
                <MudListItem><MudText>Step 2: Put all the veggies in the broth</MudText></MudListItem>
                <MudListItem><MudButton Color="Color.Primary" Variant="Variant.Text">Log Recipe</MudButton></MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12">
        
    </MudItem>


</MudGrid>



<!-- Footer -->
<CalorieFooter/>