<footer>
    <MudGrid Class="mt-5 px-5"> 
        <MudItem xs="12" Class="d-flex flex-column align-center justify-center">
    </MudItem>
    <MudItem xs="12" sm="12">
        <div style=" border-radius: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" class="d-flex flex-column align-center justify-center py-8">
            <MudText >Twitter</MudText>
            <MudText >Facebook</MudText>
            <MudText >Instagram</MudText>
                <MudText>&copy; Copyright <strong><span>Calorie Catcher</span></strong>. All Rights Reserved</MudText>
                <MudText>Contact us: CalorieCatcher@gmail.com</MudText>
        </div>
    </MudItem>
    
</MudGrid>
</footer>