@using Calories.API.Models.Dto

<div class="recipe-container">
    @foreach (Hit hit in recipeModel.Hits)
    {
        
        <MudCard class="recipe-card">
            <div class="recipe-media">
                <MudImage Src="@hit.Recipe.Image" Alt="@hit.Recipe.Label" />
            </div>
            <div class="recipe-content">
                <MudText Typo="Typo.h5" Class="recipe-label">@hit.Recipe.Label</MudText>
                <MudText Typo="Typo.body2" Class="recipe-label">Calories: @hit.Recipe.Calories</MudText>
            </div>
        </MudCard>
    }
</div>

@code {
    [Parameter]
    public RecipeModelEdamam recipeModel { get; set; } = new RecipeModelEdamam();
    
    private void CardClicked(RecipeDto receipe)
    {
    // if (OnCardClick.HasDelegate)
    // {
    //     await OnCardClick.InvokeAsync(artist);
    // }
    }
}
<style>
    .recipe-card {
        max-width: 200px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 1rem;
        display: inline-block;
        overflow: hidden; 
    }
    
    .recipe-media {
        height: 150px; 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .recipe-media img {
        height: 100%; 
        width: 100%; 
        object-fit: cover; 
    }
    
    .recipe-content {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: calc(100% - 150px); 
    }
    
    .recipe-label {
        background-color: var(--mud-palette-background-paper); 
        padding: 8px;
        font-weight: bold;
    }
</style>